<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="jefferyvicente.meetup" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".login"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".SampleActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.parse.ui.ParseLoginActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop" >
            <meta-data
                android:name="com.parse.ui.ParseLoginActivity.PARSE_LOGIN_ENABLED"
                android:value="true" />
            <meta-data
                android:name="com.parse.ui.ParseLoginActivity.PARSE_LOGIN_EMAIL_AS_USERNAME"
                android:value="true" />
        </activity>

        <meta-data
            android:name="com.parse.APPLICATION_ID"
            android:value="Tly1ugQJyqIGkw6p9TKmYyNGL984zhaGNOeBCCqs" />
        <meta-data
            android:name="com.parse.CLIENT_KEY"
            android:value="GrMPS9ucp3hI5ULt4uxLKp2oxQEdeb1mbIzEPIge" />

        <activity
            android:name=".eventView"
            android:label="@string/title_activity_event_view" >
        </activity>
        <activity
            android:name=".newEventInfo"
            android:label="@string/title_activity_new_event_info" >
        </activity>
    </application>

</manifest>
